.hero {
  padding: 15px;
  background-color: #ffe3e5;
  margin-top: 10px;

  &__container {
  }

  &__sub {
    font-family: "HandWritting";
    font-size: 18px;
    color: #6f818d;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__details {
    h1 {
      font-family: "JostExtraBold";
      font-size: 30px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }

  &__descr {
    font-family: "JostRegular";
    font-size: 12px;
    line-height: 15px;
    color: #6f818d;
    margin-bottom: 25px;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 603px) {
    padding-left: 0;
    padding-right: 0;
    &__container {
      display: flex;
      justify-content: space-between;
      max-width: 80%;
      margin: 0 auto;
    }

    &__details {
      max-width: 300px;
      margin-top: 60px;
    }

    &__image {
      img {
        max-width: 450px;
      }
    }
  }
}
