.product {
  &__container {
    text-align: center;
    margin-top: 80px;
  }

  &__caption {
    font-family: "HandWritting";
    color: #f8ba12;
    font-size: 18px;
    letter-spacing: 2px;
  }

  &__title {
    font-family: "JostMedium";
    font-size: 25px;
    margin-bottom: 15px;
  }

  &__descr {
    font-family: "JostRegular";
    font-size: 15px;
    color: #989fbc;
  }

  &__cards {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__images {
    img {
      width: 200px;
      border: 1px gainsboro solid;
      border-radius: 30px;
    }
  }

  // h3 {
  //   font-family: "JostItalic";
  //   color: #989fbc;
  //   font-size: 15px;
  // }

  h2 {
    font-family: "JostSemiBold";
    font-size: 20px;
  }

  p {
    font-family: "JostRegular";
    color: #989fbc;
    font-size: 16px;
    // padding-right: 90px;
    // padding-left: 90px;
  }

  &__btn {
    display: inline-flex;
    border: 1px #fe5265 solid;
    border-radius: 25px;
    padding: 10px 45px;

    span {
      color: #fe5265;
      font-size: 14px;
      font-family: "JostRegular";
    }
  }

  @media screen and (min-width: 600px) {
    &__container {
      // max-width: 800px;
      margin-left: 40px;
      margin-right: 40px;
    }
    &__cards {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
