.testimonials {
  &__container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 30px 0 30px;
    max-width: 80%;
  }

  &__image {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__stars {
    img {
      width: 10px;
      margin-right: 10px;
      margin-bottom: 10px 0;
    }
  }

  h1 {
    font-family: "JostSemiBold";
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
  }

  &__founder {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-family: "JostMedium";
    font-size: 12px;
    padding-top: 8px;

    span {
      font-family: "JostRegular";
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    img {
      padding-left: 15px;
      width: 25px;
    }

    img:nth-child(2) {
      width: 30px;
    }
  }

  &__smallheadshots {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 15px;
      margin-top: 25px;
    }
  }
  @media screen and (min-width: 603px) {
    &__container {
      display: flex;
      gap: 10px;
      max-width: 650px;
      border: 1px red dotted;
      h1 {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
      }
    }

    &__founder {
      padding-left: 20px;
    }

    &__stars {
      text-align: justify;
      margin-left: 23px;
    }

    &__arrows {
      margin-right: 45px;
      img {
      }
    }

    &__smallheadshots {
      margin-right: 90px;
      img {
      }
    }
  }
}
